.main{

    border:  2px solid grey;
    margin:   0 auto;
    width: 30%;
}

.input{

    width: 98%;

    background-color: grey;
    color: white;
    height: 35px;

    /* margin: 2px 1px 2px 5px ; */

}

.clear{

   width: 100%; 
margin-top: 5px;
/* margin: 2px 1px 2px 4px ; */
   /* background-color: 	#D3D3D3; */

   height: 35px;
}

.btn{

    width: 90px;
    /* margin-left: 2.3px;
    margin-top: 5px; */

    margin: 6px 1px 2px 1.5px ;
}

.bt{
    /* margin: 5px 1px 3px 3px ; */
    /* margin: 6px 1px 2px 1.5px ; */
  width: 48.5%;
  margin: 5px 0px 2px 2.5px;

}